@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <form action="/home/enter" method="post">
        <label for="username">Name</label>
        <input type="text" name="username" />
        <input type="submit" name="submit" />
    </form>
</div>


